h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.header {
    margin: 40px auto;
}

.back-icon {
    font-size: 20px;
    margin-left: 40px;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.email-birthdate-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spacer {
    width: 30px;
}

.chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
